<!--users/show-->
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'shared/sidebar', user: @user, book_new: @book_new %>
    </div>

    <div class="col-md-8 offset-md-1">
      <table class="table">
        <h2>Books</h2>
        <thead>
          <tr>
            <th colspan="1"></th>
            <th>title</th>
            <th>opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |booklist| %>
            <tr>
              <td><%= link_to image_tag(@user.get_profile_image(80, 80)), user_path(booklist.user_id) %></td>
              <td><%= link_to booklist.title, book_path(booklist.id) %></td>
              <td><%= booklist.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>