<h1>books index</h1>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <% if @user.profile_image.present? %>
        <%= image_tag @user.profile_image(100, 100) %>
      <% else %>
        <%= image_tag 'no_image.jpg' %>
      <% end %>
      <p>name:<%= @user.name %></p>
      <p>introduction:<%= @user.introduction %></p>
    </div>
    <div class="col-md-8 offset-md-1">

    </div>
  </div>
</div>